/* GENERAL PAGE */
body {
  margin: 0;
  background: black;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#gl{
  z-index: 0;
}

#processed{
  z-index: -1;
}

#editor {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  min-width: 16%;
  height: auto;
}

.CodeMirror {
  color: rgb(255, 255, 255);
  background-color: #282828a4;
}

.CodeMirror-highlight {
  background: var(--b_low);
}


/* TOP BAR */

#infoContainer {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.iconContainer {
  height: fit-content;
  width: fit-content;
}

.icon {
  z-index: inherit;
  padding: 15px;
  width: 30px;
  height: auto;
}

/* POPUPS */
.overlay {
  z-index: 3;
  visibility: hidden;
  position: relative;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.658);
}

.popup {
  z-index: 4;
  visibility: hidden;
  opacity: 0%;
  width: 400px;
  height: 400px;
  background: #d2dde2;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0px 15px;
  border-radius: 5px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  overflow: hidden;
  transition: ease-in-out 0.4s, top 0.6s, opacity 0.4s;
}

.open-popup {
  visibility: visible;
  opacity: 100%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* TABS */
.tab-header{
  height: 60px;
  display: flex;
  align-items: center;
}

.tab-header > div{
  width: calc(100%/3);
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  outline: none;
  font-size: 14px;
}

.tab-header > div > i {
  display: block;
  margin-bottom: 5px;
}

.tab-header > div.active-tab{
  color:blue;
}

.tab-indicator{
  position: relative;
  width: calc(100%/3);
  height: 5px;
  left:0px;
  border-radius: 5px;
  background-color: blue;
  transition: left 400ms ease-in-out 0ms;
}

.tab-body{
  position: relative;
  height:calc(100% - 60px);
  padding: 10px 5px;
}

.tab-body > div{
  position: absolute;
  top: -200%; 
  margin-top: 5px;
  opacity: 0;
  transition: opacity 500ms ease-in-out 0ms;
}

.tab-body > div.active-tab{
  top: 0px;
  opacity: 1;
  margin-top: 0px;
}

/* LOADING SCREEN */
#loading{
  position: absolute;
  background-color: black;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center center;
}


.loading-container{
  position: absolute;
  z-index: 0;
  height: 350px;
  width: 350px;
  animation: spin 1.5s infinite;
}

@keyframes spin{
  100%{
    transform: rotate(360deg) ;

  }
}

.loading-container >div{
  background-image: linear-gradient(45deg, #fffdf4, #d8d0c1);
  box-shadow: 0 0 3px #fffdf4;

}

.loading-container >div:nth-child(1){
  height: 75px;
  width: 75px;
  position: absolute;
  top: 100px;
  left: 100px;
  border-radius: 50%;
  animation: move1 1.5s infinite;
}

@keyframes move1 {
  50%{
    transform: translate(-30px, -30px) scale(0.3);
  }
}

.loading-container >div:nth-child(2){
  height: 45px;
  width: 45px;
  position: absolute;
  top: 105px;
  right: 110px;
  box-shadow: 0 0 2px;
  border-radius: 50%;
  animation: move2 1.5s infinite;
}

@keyframes move2 {
  50%{
    transform: translate(15px, -20px) scale(0.55);
  }
  
}

.loading-container >div:nth-child(3){
  height: 75px;
  width: 75px;
  position: absolute;
  bottom: 100px;
  right: 100px;
  border-radius: 50%;
  animation: move3 1.5s infinite;
}

@keyframes move3 {
  50%{
    transform: translate(30px, 30px) scale(0.3);
  }
}

.loading-container >div:nth-child(4){
  height: 45px;
  width: 45px;
  position: absolute;
  bottom: 105px;
  left: 110px;
  box-shadow: 0 0 2px;
  border-radius: 50%;
  animation: move4 1.5s infinite;
}

@keyframes move4 {
  50%{
    transform: translate(-15px, 20px) scale(0.55);
  }
  
}

/* PARAM INFO */

#paramContainer {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.41);
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  width: auto;
  height: auto;
  font-size: 0.75rem;
  font-family: "Courier New", Courier, monospace;
  transition: ease-in-out 0.4s, opacity 0.4s;
}

.paramContent{
  color: white;
  padding: 15px;

}

.collapsible {
  visibility: hidden;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.736);
  color: white;
  cursor: pointer;
  padding: 1em;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  position: block;
  top: 0;
  left: 0;
  /* bottom: 0; */
}

.active,
.collapsible:hover {
  background-color: rgba(0, 0, 0, 0.642);
}
